[submodule "external/VulkanMemoryAllocator"]
	path = external/VulkanMemoryAllocator
	url = https://github.com/GPUOpen-LibrariesAndSDKs/VulkanMemoryAllocator
[submodule "external/VulkanMemoryAllocator-Hpp"]
	path = external/VulkanMemoryAllocator-Hpp
	url = https://github.com/malte-v/VulkanMemoryAllocator-Hpp
[submodule "external/simppl"]
	path = external/simppl
	url = https://github.com/martinhaefner/simppl
[submodule "external/glfw"]
	path = external/glfw
	url = https://github.com/glfw/glfw
[submodule "external/libspng"]
	path = external/libspng
	url = https://github.com/randy408/libspng
