# unlicensed
icon_category_users.png
icon_category_settings.png
icon_category_photo.png
icon_category_music.png
icon_category_video.png
icon_category_tv.png
icon_category_game.png
icon_category_network.png
icon_category_friends.png
icon_settings_update.png
icon_button_xbox_*.png

# temporary & backup files
*~
